body {
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: black;
  color: #DCDCCD;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wrapper-grid {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper-content-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-content-top {
  width: 100%;
  min-height: 10%;
}

.wrapper-content-body {
  width: 100%;
  min-height: 90%;
}

.wrapper-nav {
  width: 100%;
  height: 15%;
  border-top: thin solid rgba(255, 255, 255, 0.155);
  z-index: 2;
  margin-top: -15vh;
  background-color: #dcdccd1e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.location {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light-layer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

.ball1 {
  width: 400px;
  height: 400px;
  background-color: magenta;
  border-radius: 50%;
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.ball2 {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 255, 255, 0.7);
  margin-left: -12.5%;
  border-radius: 50%;
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.card-tray {
  min-width: 100%;
  height: 90%;
  position: fixed;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.card-tray {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.card-tray::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.section-wrapper {
  min-width: 100%;
  height: 100%;
}

.section-component-wrapper {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.component-card {
  background-color: #0f0f0f;
}

@media (min-width: 0px) {
  .component-card {
    width: 90%;
    height: 95%;
    border: thin solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
  }
}

@media (min-width: 960px) {
  .component-card {
    width: 75%;
    height: 95%;
    border: thin solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
  }
}
/*# sourceMappingURL=layout.css.map */